<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">NavBar</a>
    <form class="form-inline">
        <input class="form-control mr-sm-2" placeholder="Search" type="search" name="email" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>
<table class="table"> 
    <tr>
        <th>Email</th>
        <th>Edad</th>
        <th>Comentario</th>
    </tr>
    <% @users.each do |user| %>
    <tr>
        <td><%=user.email%></td>
        <td><%=user.age%></td>
        <td><%=user.comment%></td>
    </tr>
    <%end%>
</table>
