<h1 class=" bold">Ingresa tu correo:<%=params[:x]%></h1>
<!-- En accion se determina donde se envia el formulario luego de hacer click -->
<form action="/pages/create" method="get"> 
    <input name="email">
    <input type="submit" value="enviar">
</form>
