<h1 class=" bold">Forms 3.0 </h1>
<!-- En accion se determina donde se envia el formulario luego de hacer click -->
<form action="/pages/create" method="get">
    <div class="form-group">
        <label for="email">Email Adress</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" >
        <small id="emailHelp" class="form-text text-muted">Nunca compartas tu contraseña con alguien</small>
    </div>
    <div class="form-group">
        <label for="age">Age</label>
        <input name="age" class="form-control" type="number" placeholder="Age" >
    </div>
    <div class="form-group">
        <label for="comment">Comentario</label>
        <textarea name="comment" class="form-control"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
